.body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
}
.top-menu, .header-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-menu{
   padding: 10px 500px;
}
.header-bot{
       padding: 100px 500px;
}
.links-container{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.hero-secondary, .links-container{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-secondary{
    margin: 5px 0;
}
.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.hero-container{
    max-width: 400px;
}
.sign-btn{
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 6px 20px;
    color: white;
}

.info-title{
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: -40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 200px;
}
.card-image{
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.card-txt{
    text-align: center;
    font-size: 18px;
}
.cards-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.info-container{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    max-width: 750px;
    display: flex;
    flex-direction: column;
}
.quote-text{
    font-size: 36px;
    counter-reset: #1F2937;
    font-weight: 300;
}
.quote-author{
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
    margin: 0;
}